fastapi~=0.115.14
uvicorn
pydantic-settings~=2.10.1
asgi-correlation-id~=4.3.4
databases~=0.9.0
SQLAlchemy~=2.0.41
aiosqlite
python-json-logger
rich
prometheus-fastapi-instrumentator
httpx~=0.28.1
pytest~=8.4.1
pytest-asyncio
pytest-cov
psycopg2-binary
databases[asyncpg]
starlette~=0.46.2
pydantic~=2.11.7
python-jose~=3.5.0
passlib~=1.7.4
bcrypt
pydantic[email]
python-multipart
aiofiles
python-dotenv
authlib
itsdangerous
pytest-mock
diff_match_patch
